REACT_APP_BACKEND_URL=https://${CODESPACE_NAME}-4567.${GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN}
REACT_APP_AWS_PROJECT_REGION=us-east-1
REACT_APP_AWS_COGNITO_REGION=us-east-1
REACT_APP_AWS_USER_POOLS_ID=us-east-1_wAg3Cr3Px
REACT_APP_CLIENT_ID=12va2n69rq2of98ivm60b9625v
REACT_APP_API_GATEWAY_ENDPOINT_URL=https://rtvb6kbife.execute-api.us-east-1.amazonaws.com